<template name="ratingSubmit">
  <form name="rating" class="rating-form form">
    <div class="form-group {{errorClass 'body'}}">
      <div class="controls">
        <label for="score">Rate this Tasting</label>
        <span class="rateit" name="score" id="score" data-rateit-resetable="false"></span>
      </div>
    </div>
    <button type="submit" id="add-rating-button" class="btn btn-primary">Add Rating</button>
    <button type="reset" id="reset-rating-button" class="btn btn-warning">Reset Rating</button>
  </form>
</template>
