<template name="tastingEdit">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="when">When</label>
      <div class="controls">
        <div class="input-group datetimepicker">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input name="when" id="when" type="text" value="{{when}}" placeholder="Date and time of tasting" class="form-control set-due-date"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="where">Where</label>
      <div class="controls">
        <input name="where" id="where" type="text" value="{{where}}" placeholder="Location of tasting" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="liquor">Liquor</label>
      <div class="controls">
        <input name="liquor" id="liquor" type="text" value="{{liquor}}" placeholder="Liquor being tasted" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="bottle">Bottle</label>
      <div class="controls">
        <input name="bottle" id="bottle" type="text" value="{{bottle}}" placeholder="Bottle being tasted" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="teaser">Teaser</label>
      <div class="controls">
        <input name="teaser" id="teaser" type="text" value="{{teaser}}" placeholder="Why others should care" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete tasting</a>
  </form>
</template>