<template name="tastingPage">
  <div class="tasting-page page">
    <h4>Tasting</h4>
    {{> tastingItem}}

    <h4>Comments</h4>
    <ul class="comments">
      {{#each comments}}
        {{> commentItem}}
      {{/each}}
    </ul>

    {{#if currentUser}}
      {{#if tastingInProgress}}
        {{> commentSubmit}}
      {{else}}
        <p>This tasting is not open for comments.</p>
      {{/if}}
    {{else}}
      <p>Please log in to add a comment.</p>
    {{/if}}

    <h4>Ratings</h4>
    <ul class="ratings">
      {{#each ratings}}
        {{> ratingItem}}
      {{/each}}
    </ul>

    {{#if currentUser}}
      {{#unless userRating}}
        {{#if tastingInProgress}}
          {{> ratingSubmit}}
        {{else}}
          <p>This tasting is not open for ratings.</p>
        {{/if}}
      {{/unless}}
    {{else}}
      <p>Please log in to add a rating.</p>
    {{/if}}
  </div>
</template>
