<template name="tastingsLast">
  <div class="tastings">
    {{#each tastings}}
      {{> tastingItem}}
    {{/each}}

    {{#if nextPath}}
    <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>
  <div class="container">
  {{#if noneAvailable}}
  <p>No past tastings found.</p>
  {{#if currentUser}}
  <p>Schedule a <a href="{{pathFor 'tastingSubmit'}}">new tasting</a> and start sharing with some friends.</p>
  {{else}}
  <p>Sign in to schedule a tasting and start sharing with some friends.</p>
  {{/if}}
  {{/if}}
  </div>
</template>
