<template name="tastingPage">
  <div class="tasting-page page">
    <article class="tasting tastings-item-select">
      <div class="tasting-content">
        <h4>{{bottle}}, {{spirit}}</h4>
        <p>{{teaser}}</p>
        <hr>
        <h5>Hosted by <strong>{{host}}</strong> on {{whenFormatted}} at {{where}}</h5>
        {{#if ratingsNum}}
        <div class="comment">
          <strong>Average rating</strong>
          <span class="rateit" data-rateit-value="{{ratingsAvg}}" data-rateit-ispreset="true" data-rateit-readonly="true"></span>
        </div>
        {{/if}}
        <p>{{commentsText}}, {{ratingsText}}</p>
        {{#if isOwner}}
        <p><a href="{{pathFor 'tastingEdit'}}" class="discuss btn btn-primary">Edit Tasting</a></p>
        {{/if}}
      </div>
    </article>

    <h4>Comments</h4>
    <ul class="comments">
      {{#each comments}}
        {{> commentItem}}
      {{/each}}
    </ul>

    {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please log in to add a comment.</p>
    {{/if}}

    <h4>Ratings</h4>
    <ul class="ratings">
      {{#each ratings}}
        {{> ratingItem}}
      {{/each}}
    </ul>

    {{#if currentUser}}
      {{#unless userRating}}
        {{> ratingSubmit}}
      {{/unless}}
    {{else}}
      <p>Please log in to add a rating.</p>
    {{/if}}
  </div>
</template>
