<template name="tastingsItem">
  <article class="tasting tastings-item-select">
    <div class="tasting-content">
      <h4>{{bottle}}, {{spirit}}</h4>
      <p>{{teaser}}</p>
      <hr>
      <h5>Tasting hosted by <strong>{{host}}</strong> on {{whenFormatted}} at {{where}}</h5>
      <hr>
      <p>{{commentsCount}} comments</p>
      <p>{{ratingsCount}} ratings</p>
      {{#if rating}}
      <div class="rateit" data-rateit-value="{{rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
      {{/if}}
    </div>
  </article>
</template>
