<template name="tastingsList">
  <h3>Next Tastings</h3>
  <div class="tastings">
    {{#each tastings}}
      {{> tastingsItem}}
    {{/each}}
  </div>
  {{#if noTastings}}
  <p>No tastings are scheduled for the next week.</p>
  <p>Check out some <a href="{{pathFor 'tastingsFuture'}}">upcoming</a> or <a href="{{pathFor 'tastingsPast'}}">recent</a> tastings.</p>
    {{#if currentUser}}
      <p>Schedule a <a href="{{pathFor 'tastingSubmit'}}">new tasting</a> and share with some friends.</p>
    {{else}}
      <p>Sign in or join to schedule a tasting and start sharing with some friends.</p>
    {{/if}}
  {{/if}}
</template>
