<template name="tastingPage">
  <div class="tasting-page page">
    <h4>Tasting</h4>
    <div class="tasting">
      <div class="tasting-content">
        {{#if isOwner}}
          <p><a href="{{pathFor 'tastingEdit'}}" class="discuss btn btn-primary">Edit Tasting</a></p>
        {{/if}}
        <h4>{{bottle}}</h4>
        <p>{{teaser}}</p>
        <hr>
        <p>
        Hosted by <strong>{{host}}</strong> on {{whenFormatted}} at {{where}}.
        </p>
      </div>
    </div>

    <h4>Comments</h4>
    <ul class="comments">
      {{#each comments}}
        {{> commentItem}}
      {{/each}}
    </ul>

    {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please log in to leave a comment.</p>
    {{/if}}
  </div>
</template>