<template name="tastingsNext">
  <div class="tastings">
    {{#each tastings}}
      {{> tastingItem}}
    {{/each}}

    {{#if nextPath}}
    <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>
  <div class="container">
    {{#if noneAvailable}}
    <p>No tastings are scheduled.</p>
    {{#if currentUser}}
    <p>Schedule a <a href="{{pathFor 'tastingSubmit'}}">new tasting</a> and share with some friends.</p>
    {{else}}
    <p>Sign in or join to schedule a tasting and start sharing with some friends.</p>
    {{/if}}
    {{/if}}
  </div>
</template>
