<template name="tastingPage">
  <div class="tasting-page page">
    {{> tastingItem}}

    <h4>Comments</h4>
    <ul class="comments">
      {{#each comments}}
        {{> commentItem}}
      {{/each}}
    </ul>

    {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please log in to add a comment.</p>
    {{/if}}

    <h4>Ratings</h4>
    <ul class="ratings">
      {{#each ratings}}
        {{> ratingItem}}
      {{/each}}
    </ul>

    {{#if currentUser}}
      {{#unless userRating}}
        {{> ratingSubmit}}
      {{/unless}}
    {{else}}
      <p>Please log in to add a rating.</p>
    {{/if}}
  </div>
</template>
