<template name="tastingItem">
  <div class="tasting">
    <div class="tasting-content">
      <h3>{{when}}</h3>
      <h4>{{bottle}}, {{liquor}}</h4>
      <p>{{teaser}}</p>
      <hr>
      <p>
        <h5>Tasting hosted by {{host}}.</h5>
      <a href="{{pathFor 'tastingPage'}}">{{commentsCount}} comments</a>
        {{#if isOwner}}<a href="{{pathFor 'tastingEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'tastingPage'}}" class="discuss btn btn-default">Go</a>
  </div>
</template>
